
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="w3-container">

  <div class="w3-card-4" style="width:50%;">
    <header class="header-card">

      <h1 class="new-event">

        <img src="https://www.assyst.de/cms/upload/sub/digitalisierung/15-M.jpg" alt="Avatar" class="avatar">
      Sabin reviewed our campus:
      <div class="header-stars">
      <mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star</mat-icon><mat-icon>star_border</mat-icon><mat-icon>star_border</mat-icon>
      </div>

    </h1>



    </header>

    <div class="w3-container">

      <h1>New event 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

    <footer class="footer-card">

      <span class="likes">24          <mat-icon>thumb_up</mat-icon> </span>

      <div class="cta">
        <span class="date"><mat-icon>calendar_today</mat-icon> February 2, 2021</span>
        <div class="tooltip" href="#" >Read more &rarr;

          <span class="tooltiptext">
            <h1>New event 2</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comm
          </span>
        </div>
      </div>

    </footer>
  </div>

</div>
</body>
