<!-- <app-header></app-header> -->
<div class="content">

    <div class="form">

        <h2>Sign Up</h2>

        <form class="form">

            <div class="input">
                <label for="fname">First name</label><br>
                <input type="text" id="fname">
            </div>
            <div class="input">
                <label for="lname">Last name</label><br>
                <input type="text" id="lname">
            </div>

            <div class="input">
                <label for="email">Your Email</label><br>
                <input type="email" id="email">
            </div>

            <div class="input">
                <label for="password">Set Password</label><br>
                <input type="password" id="password">
            </div>

            <div class="input">
                <input type="checkbox" id="checkbox">
                <label for="agree-condition-checkbox">Agree with <a id="terms_conditions" href="">Terms & Conditions</a></label><br><br/>

            </div>

            <div>
                <button class="button">Sign Up
                    <mat-icon>input</mat-icon>
                </button>
            </div>

            <div class="account">
                <br>
                <a >Already have an account?</a>
                <a href="./login">Log in</a>

            </div>

        </form>
    </div>
    <div>
      <img src="./assets/images/undraw_sign_in_re_o58h.svg">
  </div>
</div>

<!-- <app-footer></app-footer> -->
