

<div style="background-image: linear-gradient(white, rgb(69, 69, 69))">
  <!--
<div>
    <div class="page-content">

        <router-outlet></router-outlet>

    </div>
</div>

-->




<div class="app-content">

    <app-header></app-header>


    <div class="my">

         <div class="left-side" *ngIf="router.url !== '/login' && router.url !== '/signup' && router.url !== '/forgot-password'">

          <app-menu></app-menu>
          <app-user></app-user>
        </div>

        <div class="page-content">
            <router-outlet></router-outlet>
        </div>

    </div>

    <app-footer></app-footer>
</div>

