
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');


$oswald: 'Oswald', sans-serif;
$merriweather: 'Merriweather Sans', sans-serif;

mat-icon{
  color:white;
  font-family:'Material Icons';
margin-top: 8px;

  vertical-align: middle;

}
.icon-display {
  transform: scale(1.5);


}
*{
  font-family:$oswald;
  font-size: 20px;
box-sizing:border-box;
text-decoration:none;
}
.menu-content {
  //background-color: rgb(33, 31, 31);
  display: flex;
 // align-items: center;
  padding-left: 6px;
  flex-direction: column;

  height: 90vh;
  width: 250px;
  color: aliceblue;
   box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12),
   0px 2px 12px rgba(0, 17, 128, 0.12);


  a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background-color: rgba(228, 240, 235, 0.08);
    }


    &:visited
    {
      color:white;
    }

    &.active {
      background-color:  rgba(228, 240, 235, 0.08);
      font-weight: bold;
      color: #BFCFFF;
      mat-icon{
        color:#BFCFFF;}
    }
  }

  .menu-item {

    display: flex;
    align-items: center;
    height: 40px;




    &.parent {
      font-weight: bold;


    }

    &:not(:last-child) {
      margin-bottom: 8px;

    }
  }

  .children-content {
    display: flex;
    flex-direction: column;




    .menu-item {
      padding-left: 32px;
      //justify-content:space-evenly;

      padding-right:10px;

    }
  }
}
@media screen and (max-width:1200px)
{

  .menu-content{
    width: 170px;
   }

}
