<nav class="menu-content">
  <div>

      <div class="children-content">
          <a class="menu-item" routerLink="./topics" routerLinkActive="active"><mat-icon class="icon-display">group</mat-icon>Topics</a>
          <a class="menu-item" routerLink="./events" routerLinkActive="active"><mat-icon class="icon-display">event_note</mat-icon>Events</a>
          <a class="menu-item" routerLink="./reviews" routerLinkActive="active"><mat-icon class="icon-display">mood</mat-icon>Review</a>
          <a class="menu-item" routerLink="./notifications" routerLinkActive="active"><mat-icon class="icon-display">notifications_none</mat-icon>Notifications</a>

          <a class="menu-item" routerLink="./user-manual" routerLinkActive="active"><mat-icon class="icon-display">help_outline</mat-icon>User Manual</a>

      </div>
  </div>


</nav>
